src/main/mule/implementations/create-employee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="f0194dd1-5f47-4813-a8fa-7057c6bc7768" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Vinayalle@143" />
	</db:config>
	<flow name="post:\create-employee:application\json:emp-hr-sapi-config" doc:id="ae5185fa-9d40-4a9e-ace3-c872727e5075" >
		<logger level="INFO" doc:name="Entry Log" doc:id="07d93b26-1e37-4a83-8a62-0e11c9a6cfef" message="Transaction [#[vars.transactionId]] - Started create employee flow and payload is : #[payload]"/>
		<ee:transform doc:name="Transform Employee" doc:id="2261b141-b050-46f5-81e6-dc45614254be" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	emp_id: payload.empID,
	emp_name: payload.empName,
	emp_status: payload.empStatus,
	emp_address: payload.empAddress
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:insert doc:name="Insert Employee" doc:id="328f312a-428a-4e11-ad19-8df3e0649cb5" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into onboard.emp_master(emp_id,emp_name,emp_status,emp_address) values(:emp_id,:emp_name,:emp_status,:emp_address);
]]></db:sql>
			<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Prepare Response" doc:id="e06047a9-3f94-44f2-a4e7-18ab37a31a39" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "code": 201,
  "message": "Created",
  "description": "Employee created in HR system yyy",
  "datetime": now() as String {format: "yyyy-MM-dd'T'hh-MM-ss"},
  "transactionID": vars.transactionId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
